.container{
    min-height: 100vh;
    width: 100%;
    background-color: #FEDCC5;
    background-image: url('../../assets/image 3.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    // justify-content: space-between;
    justify-content: center;
    gap: 8rem;
    align-items: center;
    // padding: 0px 70px 0px 12rem;

    .left{
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        // background-color: white;
        backdrop-filter: blur(5px);
        border-radius: 12px;
        padding: 25px 50px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 0px;
        min-height: 60vh;

        .heading{
            display: flex;
            flex-direction: column;
            gap: 5px;
            margin-bottom: 12px;
            h6{
                font-size: larger;
                color: #F25019;
            }

            h2{
                font-size: 3.5rem;
            }
        }
        .form{
            form{
                display: flex;
                flex-direction: column;
                gap: 20px;

                .email, .password{
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
                    p{
                        font-size: 1rem;
                    }
                    input{
                        width: 100%;
                        padding: 8px;
                        border-radius: 5px;
                        border: none
                    }

                    input::placeholder{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        color: #BFBFBF;
                        font-size: small;
                    }

                    input::file-selector-button {
                        // font-weight: bold;
                        color: #948585;
                        padding: 0.5em;
                        background-color: white;
                        border: none;
                        border-radius: 5px;
                      }
                      
                }
                .login{
                    display: flex;
                    flex-direction: column;
                    gap: 8px;
                    margin-bottom: 10px;
                    button{
                        padding: 8px;
                        border-radius: 5px;
                        width: 100%;
                        font-size: medium;
                        border: none;
                        border: 1px solid none;
                        background-color: #F25019;
                        color: white;
                    }
                }

                .signup{
                    font-size: 18px;
                    span{
                        font-weight: bold;
                        color: #AE4700;
                        a{
                            color: #AE4700;
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }

    .right{
        // background-color: purple;
    }
}

@media screen and (max-width : 1369px) {
    .container{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 3rem;
        padding: 50px 20px;
        background-image: url("../../assets/waves.svg");
        background-size: 300% 300%;

        .left{
            background-color: white;
            // backdrop-filter: blur(3px);

            .form{
                form{
                    .email, .password{
                        input{
                            border: 1px solid black;
                        }
                    }

                    .signup{
                        p{
                            text-align: center;
                        }
                    }
                }
            }

        }

        .right{
            display: none;
            img{
                width: 80%;
                // height: 80%;
            }
        }

    }
    
}