.container{
    width: 100%;
    min-height: 100vh;
    background-color: #FEDCC5;
    padding: 8px 8px;

    .chatSection{
        display: flex;
        justify-content: space-between;
        padding: 10px;
    }

}

@media screen and (max-width : 850px) {
    .chatSection{
        display: flex;
        justify-content: center;
        align-items: center;
        // background-color: red;
        width: 97vw;
        padding: 0;
    }
}